/* 输入框 */
.common_input {
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: Verdana;
    font-size: 24px;
    padding: 0.3em 0.5em;
}
.common_input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
/* 按键 */
.common_btn {
	width: 270px; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 4px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /*不显示轮廓线 */
	font-family: Verdana; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 16px; /* 字体大小 */
}
.common_btn:hover {
    background: #5599ff
}
/* 清除浮动 */
.clearfix::after {
    content: '\200B';
    clear: both;
    display: block;
    height: 0;
}
.clearfix {
    *zoom: 1;
}